# Ignorar carpetas de desarrollo pesado y bases de datos locales
**/node_modules/
**/.venv/
**/bin/
**/scratch/
**/*.db
**/*.sqlite
**/*.log
**/.env

# Ignorar pruebas temporales
/Factura_BI/Dev/
/Demo/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
