# Ignorar carpetas de desarrollo pesado y bases de datos locales
**/node_modules/
**/.venv/
**/db/
**/*.db
**/*.sqlite
**/*.log

# Ignorar las carpetas de desarrollo local (Dev) y pruebas temporales (Demo)
/Factura_BI/Dev/
/Manager_BI/Dev/
/Demo/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
